@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: auto;
    background-color: #5EBC67;
    color: #fff;
}

/* navbar */

.navbar {
    margin-top: 20px;
    font-family: 'Baumans';
}

.navbar-brand {
    width: 30%; 
  }
  
  @media (min-width: 768px) {
    .navbar-brand {
      width: 20%; 
    }
  }
  
  @media (min-width: 992px) {
    .navbar-brand {
      width: 10%; 
    }
  }

.navbar-brand img {
    width: 100%;
}

.navbar-collapse {
    padding: 0 30px;
}

.nav-link {
    margin: 0 30px;
    color: #fff;
    font-size: 18px;
}

/* main content */

.main-content {
    margin: 50px 200px 50px;
}

.main-content h1 {
    font-family: 'Montserrat';
    font-weight: 600;
}

/* plant section */

.card, .card-img-top, .card-body {
    border: none !important;
    outline: none !important;
}

.card-body {
    padding: 0;
}


.card {
    width: 300px;
    text-align: center;
    border: none;
}

.card-img-top {
    height: 200px;
    border: none;
}

.card-body {
    padding: 0;
    border: none;
}

